<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h3>실습 결과</h3>
        <div>이름은 <span><%= userInfo.username %></span></div>
        <div>성별은 <span><%= userInfo.gender %></span></div>
        <div>
            생년월일은 <span><%= userInfo.year %>년</span> <span><%= userInfo.month %>월</span>
            <span><%= userInfo.day %> 일</span>
        </div>
        <div>관심사는 <span><%= userInfo.inter %></span></div>
        <div>좋아하는 색상은 <span><%= userInfo.color %></span></div>
        <div>좋아하는 숫자는 <span><%= userInfo.number %></span></div>
    </body>
</html>
