<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      <%= title %> <br />
      이름은 <%= userInfo.id%> <br />
      성별은 <%= userInfo.gender%> <br />
      생일은 <%= userInfo.year%>년 <%= userInfo.month %>월 <%= userInfo.day%>일
      <br />
      관심사는 <%= userInfo.interest %> <br />
      색깔은 <%= userInfo.color %> <br />
      숫자는 <%= userInfo.number%> <br />
    </p>
  </body>
</html>
