<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/getForm" method="get">
      <label for="id">이름 <input type="text" name="id" required /></label>
      <fieldset style="width: 500px">
        <legend>성별</legend>
        <label for="man"
          >남자 <input type="radio" id="man" name="gender" value="남자"
        /></label>
        <label for="woman"
          >여자 <input type="radio" name="gender" value="여자" id="woman"
        /></label>
      </fieldset>
      <fieldset style="width: 500px">
        <legend>생년월일</legend>
        <label for="year"
          ><select name="year">
            <% for(let i=1970; i<=2024; i++) { %>
            <option><%= i %></option>
            <%} %>
          </select>
          년</label
        >
        <label for="month"
          ><select name="month">
            <% for(let i=1; i<=12; i++) { %>
            <option><%= i %></option>
            <%} %>
          </select>
          월</label
        >
        <label for="day"
          ><select name="day">
            <% for(let i=1; i<=31; i++) { %>
            <option><%= i %></option>
            <%} %>
          </select>
          일</label
        >
      </fieldset>
      <fieldset style="width: 500px">
        <legend>관심사</legend>
        <label for="travel"
          ><input type="checkbox" id="travel" name="interest" value="여행" />
          여행</label
        >
        <label for="fashion"
          ><input type="checkbox" id="fashion" name="interest" value="패션" />
          패션</label
        >
        <label for="food"
          ><input type="checkbox" id="food" name="interest" value="음식" />
          음식</label
        >
      </fieldset>
      <fieldset style="width: 500px">
        <legend>선택</legend>
        <label for="color"><input type="color" name="color" /> 색상 </label>
        <label for="number"><input type="number" name="number" /> 숫자</label>
      </fieldset>
      <button type="submit">회원가입</button>
    </form>
    <br />
    <hr />
    <form action="/postForm" method="post">
      <label for="id">이름 <input type="text" name="id" required /></label>
      <fieldset style="width: 500px">
        <legend>성별</legend>
        <label for="man"
          >남자 <input type="radio" id="man" name="gender" value="남자"
        /></label>
        <label for="woman"
          >여자 <input type="radio" name="gender" value="여자" id="woman"
        /></label>
      </fieldset>
      <fieldset style="width: 500px">
        <legend>생년월일</legend>
        <label for="year"
          ><select name="year">
            <% for(let i=1970; i<=2024; i++) { %>
            <option><%= i %></option>
            <%} %>
          </select>
          년</label
        >
        <label for="month"
          ><select name="month">
            <% for(let i=1; i<=12; i++) { %>
            <option><%= i %></option>
            <%} %>
          </select>
          월</label
        >
        <label for="day"
          ><select name="day">
            <% for(let i=1; i<=31; i++) { %>
            <option><%= i %></option>
            <%} %>
          </select>
          일</label
        >
      </fieldset>
      <fieldset style="width: 500px">
        <legend>관심사</legend>
        <label for="travel"
          ><input type="checkbox" id="travel" name="interest" value="여행" />
          여행</label
        >
        <label for="fashion"
          ><input type="checkbox" id="fashion" name="interest" value="패션" />
          패션</label
        >
        <label for="food"
          ><input type="checkbox" id="food" name="interest" value="음식" />
          음식</label
        >
      </fieldset>
      <fieldset style="width: 500px">
        <legend>선택</legend>
        <label for="color"><input type="color" name="color" /> 색상 </label>
        <label for="number"><input type="number" name="number" /> 숫자</label>
      </fieldset>
      <button type="submit">회원가입</button>
    </form>
  </body>
</html>
